# For Raspberry Pi
# picamera2>=0.3.12
opencv-python>=4.8.0
numpy>=1.24.0
flask>=3.0.0
python-socketio>=5.10.0

# For GUI (can be subset)
# matplotlib>=3.8.0
# pyqt6>=6.6.0  # or tkinter (built-in)
websockets>=12.0
flask
flask-cors
pyserial
crcmod
